

/*********************************/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*nav wrapper start*/
/*===========nav wrapper============ */
.wrapper .nav-wrapper{
   
    z-index: 1000;  
    width: 100%;
  }
.wrapper .row{
    margin-right: 0;
    margin-left: 0;
}
  
  /*top bar*/
.wrapper .nav-wrapper .top-bar{
  background-color:#00296b;
  line-height: 20px;
  width: 100%;

}
@media screen and (max-width:768px){
  .wrapper .nav-wrapper .top-bar .navbar{
   display: none;
  }
  .wrapper .nav-wrapper .second-bar .navbar-light{
    display: flex;
    padding: 0;
  }
  .wrapper .nav-wrapper .second-bar .search-area{
    margin-top: 25px;
    width: 100%;

} 
}
.wrapper .nav-wrapper .top-bar .navbar li a{
  color: #fff;
  padding-right: 36px;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 580;
  transition: background-color .2s;
}
.wrapper .nav-wrapper .top-bar .navbar li a:hover{
  color: #011627;
  background-color: #fff;
}
.wrapper .nav-wrapper .top-bar .navbar li:not(:last-child){
  border-right: 1.2px solid #f5f1f15b;

}
.wrapper .nav-wrapper .top-bar .setting-area{
  position: relative;
  margin-top: 10px;
  margin-bottom: -10px;
}
.wrapper .nav-wrapper .top-bar .setting-area ul{
  display: inline-block;
  list-style: none; 
  width: 100%;
}
.wrapper .nav-wrapper .top-bar .setting-area li a{
  font-size: 12px;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  transition: background-color .4s;
  color: #fff;
  float: right;

}
.wrapper .nav-wrapper .top-bar .setting-area a:hover{
  color: #0c4cac;
  background-color: #fff;
}
.wrapper .nav-wrapper .top-bar .setting-area a:focus{
  border: 0;
  background-color: transparent;
  color: #010d1f;
}
.wrapper .nav-wrapper .top-bar .setting-area li:nth-child(1){
  
  border-right: 1px solid #f5f1f15b;
  position: relative;
}
.wrapper .nav-wrapper .top-bar .setting-area a i{

  padding-left: 5px;
  font-size: 16px;
  
}
.wrapper .nav-wrapper .top-bar .setting-area .dropdown-menu{
  border-radius: 0;
  border: 0;
  margin-top: 8px;
  border-left: 4px solid #f5ba69;
  background-color: #f5ba69;
  
}
.wrapper .nav-wrapper .top-bar .setting-area .dropdown-menu a{
  padding:12px 15px ;
    color: rgb(129, 125, 125);
    font-size: 16px;
    line-height: 16px;
}




/*second navbar*/
.wrapper .nav-wrapper .second-bar{
    width: 100%;
    background-color:rgb(255, 255, 255);
    position: relative;
    box-shadow: -2px 5px 1px rgba(32, 6, 148, 0.979);
    
}
.wrapper .nav-wrapper .second-bar .navbar-brand{
  text-align: center;
  margin-right: 35xpx;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper .nav-wrapper .second-bar .navbar-brand img{
  width: 90px;
  height: 90px;
  align-self: center;

}
.wrapper .nav-wrapper .second-bar .navbar-brand p{
  padding-left: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
  color: #093f8bee;
  letter-spacing: 3px;
  font-size: 20px;
  align-self: center;
  margin-bottom: 0;
  line-height: 25px;
}
.wrapper .nav-wrapper .second-bar .navbar-brand p:nth-of-type(2){
  font-size: 16px;
  font-family: 'Tajawal', sans-serif;
  font-family: 'Amiri', serif;


}

.wrapper .nav-wrapper .second-bar .navbar-brand h6{
  color: #021633a6;
  font-size: 14px;
}

.wrapper .nav-wrapper .second-bar .col-list{
  position: relative;
}
.wrapper .nav-wrapper .second-bar .col-list .row{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.wrapper .nav-wrapper .second-bar .navbar-nav{
  padding: 5px ;

  
  

}

.wrapper .nav-wrapper .second-bar .navbar-nav li{
  padding: 0px 8px;

}
.wrapper .nav-wrapper .second-bar .navbar-nav li a{
  font-weight: 600;
  color: #083472ee;
  font-size: 1.1rem;
  padding: 10px;
}
.wrapper .nav-wrapper .second-bar .navbar-nav li::after{
  content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #067ff0;
    transition: width  .6s;
}
.wrapper .nav-wrapper .second-bar .navbar-nav li:hover::after{
  width: 100%;
  color: #fff;
}
.wrapper .nav-wrapper form button i{
  color:#fff;
  font-size: 20px;
  background-color: #082047;
  padding: 10px;
}
.wrapper .nav-wrapper form button i:hover{
  background-color: #051735d8;
}

  















/*nav wrapper end*/




.breadcrumb{
  background: none;
  padding: 0px 30px;
  margin-top: 15px;
  /* background-color: #073161e8; */
  border-radius: 0;
  
  
  
}







/*footer and copy right*/
.footer {
    background-color: #073161e8;
    min-height: 50vh;
  
  }
  .footer .row{
    margin-right: 0;
  }
  .information{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    color: #fff;
    margin-top: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.26);
  }
  .information p{
    font-size: 22px;
    /* font-weight: 600; */
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    
  }
  .footer .social-box{
    margin-top: 50px;
    text-align: center;
  
  
  }
  .footer .social-box a{
    font-size: 40px;
    padding: 10px 20px;
    color: #fff;
  }
  .footer .social-box a:hover{
    color: #02132e;
  }
  .footer .links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-left: 2px solid rgba(255, 255, 255, 0.26);
  
  
  }
  .footer .links h3{
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
  }
  .footer .links a{
    color: #fff;
    font-weight: 300;
    margin: auto;
    
  }
   .footer .copy-right{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
  }
  